fastapi==0.95.1
uvicorn==0.18.2
transformers
torch
numpy<2.0
huggingface-hub
spacy==3.7.4
pydantic
pandas==1.5.3
aiofiles
onnx  # Add ONNX support for exporting models
onnxruntime  # Add ONNX runtime for model inference